.ajax-tools-devtools-text {
  font-size: 12px;
  word-break: break-all;
  padding: 0 12px;
}

.ajax-tools-devtools-text:hover {
  background: #ebf5ff;
}

body.dark-theme .ajax-tools-devtools-text:hover {
  background: #1f1f1f;
}

.ajax-tools-devtools-title{
  margin-top: 8px;
  margin-bottom: 8px;
}
